.counter{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
}

.buttonBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items:centre;

}