.cards{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 50px;
    text-align: center;
}

.cards_content{
    width: 200px;
    height: auto;

}